body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 50px auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #d2fafb;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  margin: auto;
  text-align: left;
  width: 50%;
}

.intro {
  margin: auto;
  width: 30%;
}

p {
  line-height: 2;
}

hr {
  border-bottom: none;
  border: dotted #EAF6F6 6px;
  margin: 100px auto;
  width: 4%;
}

.contact-p {
  width: 40%;
  margin: 40px auto 60px;
}

.first-p {
  clear: left;
}

.second-p {
  clear: right;
}

.computer-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.keyboard-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.btn {
  -moz-border-radius: 8;
  -webkit-border-radius: 8;
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  background: #11cdd4;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background-image: -moz-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -webkit-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30E3cb, #2bc4ad);
  background: #30E3cb;
  text-decoration: none;
}
